.top{
    width: 100%;
    height: 50px;
    background-color: aqua;
    position: sticky;
    top:0;
    display: flex;  /*Because I wann create my menu bar horizontally */
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;;
}

.topLeft,.topRight{
    flex: 3;
}

.topCenter{
    flex: 6;
}